<div style = "background-color: blue">
<% include partials/header %>
 
 
		<h1> Blue is the color football is the game </h1>
		<p> click here to view all the Players <a href = "/campgroundsites" >campground sites</a>.</p>

			<div style = "height: 300px; width : 400px ; color : green; border : 4px solid indigo">
				<p> this is the element </p>
			</div>

<% include partials/footer %>
</div>