<% include partials/header %>
<h1> this is the login form </h1>
	

	<form action  = "" method = "POST" >
		<input type = "text" name  = "username" placeholder = "enter username" > <br><br> 
		<input type  = "password" name = "password" placeholder = "enter password"><br><br>
		<button> login </button>
    </form>

    <h3> <a href = "/">go back </h3>

   <% include partials/footer %>