<% include partials/header %>

<h1> This is my Page for the Chelsea FC</h1
<p> click here to view all the Players <a href = "/campgroundsites" >campground sites</a>.</p>

<% include partials/footer %>