<h1> this is the login form </h1>
	<h3> your logged in now </h3>

	<form action  = "" method = "POST" >
		<input type = "text" name  = "username" placeholder = "enter username" > <br><br> 
		<input type  = "password" name = "password" placeholder = "enter password"><br><br>
		<button> login </button>
    </form>