<% include partials/header %>

	<h1> this is the register page </h1>

		<form action ="/register" method = "POST" >

			<input type = "text" name = "username" placeholder = "Your username here..."><br><br>
			<input type  = "password" name = "password" placeholder = "input your password here "> <br><br>
			<input type  = "submit"></input>
		</form>

		

<% include partials/footer %>