<% include partials/header %>

<h1> this is a header one file for the Description page</h1>
<p> this is the description of <%= campground.name %></p>
<p><img src="<%= campground.image %>" alt = "no image"/></p>
<p> <%= campground.Description %></p>

<p>Go back to view other campsites <a href = "/campgroundsites" class="btn btn-primary">back</a></p>

<% include partials/footer %>