	<link href="https://fonts.googleapis.com/css?family=Lobster|Permanent+Marker|Ubuntu" rel="stylesheet">


	<p style = "font-family: 'Ubuntu', sans-serif;
	font-family: 'Lobster', cursive;
	font-family: 'Permanent Marker', cursive;
	text-align: center;"> made by dennismoha</p>
</body>
</html>